ENVIRONMENT=dev
DATA_ROOT=./data
RAW_TRANSACTIONS_PATH=data/raw/historical_transactions.parquet
RAW_MERCHANTS_PATH=data/raw/merchants.csv
SPARK_DRIVER_MEMORY=4g
SPARK_SHUFFLE_PARTITIONS=200

# Docker Compose (Airflow official image expects host user id on Linux)
# AIRFLOW_UID=1000
